@import "./vars.scss";
@mixin flexR {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
}

@mixin flexC {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

@mixin button {
  background-color: $b2;
}
