@import "./vars.scss";
@mixin flexR {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
}

@mixin flexC {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

@mixin button-animation-mixin($name, $color) {
  @keyframes #{$name} {
    0% {
      -webkit-transform: translateZ(0);
      transform: translateZ(0);
      -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
      box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    }
    100% {
      -webkit-transform: translateZ(50px);
      transform: translateZ(50px);
      -webkit-box-shadow: 0 0 20px 0px transparentize($color, 0.5);
      box-shadow: 0 0 20px 0px transparentize($color, 0.5);
    }
  }
}

@include button-animation-mixin(c1, $c1);
@include button-animation-mixin(c2, $c2);
@include button-animation-mixin(e1, $e1);

@mixin button-animate-on-hover($c) {
  animation: $c 0.4s ease-out both;
}

@mixin button {
  @include flexC();
  align-items: center;
  background-color: $b2;
  cursor: pointer;
  color: $f1;
  border: 1px solid transparent;
  border-radius: 0.4rem;
  padding: 0.5rem;
  color: black;
  &[data-glow-color="c1"] {
    background-color: $c1;
    &:hover {
      @include button-animate-on-hover(c1);
    }
  }
  &[data-glow-color="c2"] {
    background-color: $c2;
    &:hover {
      @include button-animate-on-hover(c2);
    }
  }
  &[data-glow-color="e1"] {
    background-color: $e1;
    &:hover {
      @include button-animate-on-hover(e1);
    }
  }
}

@mixin paperView {
  @include highlightTop();
  overflow-y: auto;
  background: linear-gradient(
    to bottom,
    lighten($paper, 5%) 0%,
    darken($paper, 5%) 100%
  );
  box-shadow: 0 0.2rem 0.5rem black;
  color: $b2;
  padding: 0.6rem;
  border: 1px solid $paper;
  border-top: 1px solid white;
  border-radius: 0.2rem;
  > div,
  > p,
  > ul > li,
  > h3 {
    padding: 0.2rem;
    width: 100%;
    text-align: left;
    border-bottom: 1px solid $paper-line;
  }
  > h3 {
    @include flexR();
    justify-content: space-between;
  }
}

@mixin highlightTop {
  border-top: 1px solid lighten($b2, 5%);
}

@mixin pseudotv($bg, $fg) {
  border-bottom: 0.2rem solid darken($fg, 50%);
  border-top: 0.2rem solid black;
  border-left: 0.2rem solid $bg;
  border-right: 0.2rem solid $bg;
  border-radius: 1rem;
  background: radial-gradient(lighten($bg, 10%), transparent),
    radial-gradient(
      closest-side at 50% 5%,
      lighten($bg, 15%) 0%,
      transparent 100%
    ),
    radial-gradient(
      closest-side at 50% 95%,
      darken($bg, 5%) 0%,
      transparent 100%
    ),
    radial-gradient(
      closest-side at 5% 60%,
      darken($bg, 1%) 0%,
      transparent 100%
    ),
    radial-gradient(
      closest-side at 95% 60%,
      darken($bg, 1%) 0%,
      transparent 100%
    );
}
@mixin highlight($c) {
  border-radius: 0.2rem;
  background-color: desaturate(lighten($c, 20%), 20%);
  box-shadow: 0 0 0.5rem desaturate(lighten($c, 20%), 20%);
  // padding: 0.5rem;
}
