@import "./vars.scss";
@import "./mixins.scss";
#__next {
  background-color: $b1;
  color: $f1;
  height: 100vh;
  @include flexC();
  gap: 0;
  justify-content: stretch;
  font-size: 1rem;
}
header {
  padding: 1rem;
  background-color: $b2;
  @include flexR();
  justify-content: space-between;
  align-items: center;
  h1 {
    font-size: 1.6rem;
  }
  nav {
    @include flexR();
    button {
      @include flexC();
      gap: 0.1rem;
      align-items: center;
      @include button();
    }
  }
}
form {
  background-color: $b2;
  padding: 1rem;
  @include flexC();
  align-items: center;
  label {
    @include flexC();
  }
  button {
    @include button;
    background-color: $c2;
    &:hover {
      @include button-animate-on-hover(c2);
    }
  }
}

.error {
  color: $e1;
}

.smalltext {
  font-size: 0.7rem;
}

.double-icon {
  position: relative;
  top: 0;
  width: 3rem;
  height: 2rem;
  .top-icon {
    position: absolute;
    top: 0;
    left: 0;
    width: 1.8rem;
    height: 1.8rem;
    z-index: +1;
    filter: drop-shadow(0.2rem 0.2rem 0.05rem rgba(0, 0, 0, 1));
  }
  .bottom-icon {
    position: absolute;
    top: 0.6rem;
    left: 1.6rem;
    width: 1.4rem;
    height: 1.4rem;
  }
}
a {
  cursor: pointer;
}
.e1 {
  color: $e1;
}
.c1 {
  color: $c1;
}
.c2 {
  color: $c2;
}
