@import './vars.scss';
@import './mixins.scss';
#__next {
  background-color: $b1;
  color: $f1;
  height: 100vh;
  @include flexC();
  justify-content: stretch;
  font-size: 1rem;
}
header {
  padding: 1rem;
  background-color: $b2;
  @include flexR();
  justify-content: space-between;
  align-items: center;
  h1 {
    font-size: 1.6rem;
  }
  nav {
    @include flexR();
    a {
      @include flexC();
      gap: 0.1rem;
      align-items: center;
      cursor: pointer;
      padding: 0.4rem 0.5rem;
      color: black;
      text-decoration: none;
      border-width: 1px;
      border-style: solid;
      border-color: transparent;
      border-radius: 0.2rem;
      &:nth-of-type(1) {
        border-right-color: $c1;
        border-bottom-color: $c1;
        background-color: lighten($c1, 30%);
        color: black;
      }
      &:nth-of-type(2) {
        border-left-color: $c2;
        border-top-color: $c2;
        background-color: lighten($c2, 30%);
      }
    }
  }
}
form {
  background-color: $b2;
  padding: 1rem;
  @include flexC();
  align-items: center;
  label {
    @include flexC();
  }
}

.error {
  color: $e1;
}

.smalltext {
  font-size: 0.7rem;
}

.toolbar {
  ul {
    @include flexR();
    justify-content: space-between;
    button {
      @include flexC();
      align-items: center;
      @include button();
      .double-icon {
        position: relative;
        top: 0;
        width: 3rem;
        height: 2rem;
        .top-icon {
          position: absolute;
          top: 0;
          left: 0;
          width: 1.8rem;
          height: 1.8rem;
          z-index: +1;
          filter: drop-shadow(0.2rem 0.2rem 0.05rem rgba(0, 0, 0, 1));
        }
        .bottom-icon {
          position: absolute;
          top: 0.6rem;
          left: 1.6rem;
          width: 1.4rem;
          height: 1.4rem;
        }
      }
      &[data-color-style='neutral'] {
        &:hover {
          @include button-animate-on-hover(neutral);
        }
      }
      &[data-color-style='positive'] {
        &:hover {
          @include button-animate-on-hover(positive);
        }
      }
      &[data-color-style='negative'] {
        &:hover {
          @include button-animate-on-hover(negative);
        }
      }
    }
  }
}

.color-neutral {
  color: $c1;
}
.color-positive {
  color: $c2;
}
.color-negative {
  color: $e1;
}
