@import "./global/vars.scss";
@import "./global/mixins.scss";
.listContainer {
  max-height: 70vh;
  overflow-y: auto;

  > ul {
    @include flexC();
    @include paperView();
    > li {
      @include flexR();
      gap: 0.5vw;
      justify-content: space-between;
      > div {
        @include flexR();
        align-items: center;
        > button {
          border: none;
          background-color: transparent;
          padding: 0;
          margin: 0;
          @include flexR();
          align-items: center;
          &:hover {
            cursor: pointer;
          }
          > svg {
            width: 2vw;
            height: 2vw;
            min-width: 1.5rem;
            min-height: 1.5rem;
          }
        }
        &.left {
          overflow: hidden;
        }
      }
    }
  }
}
