@import "./global/vars.scss";
@import "./global/mixins.scss";
.activeBlock {
  background-color: $b2;
  @include flexC();
  flex-grow: 1;
  h2 {
    font-weight: bold;
  }
}
// $hcolor: darken(desaturate($c1, 80%), 30);
$hcolor: $b1;
.blockHeader {
  @include flexR();
  padding: 0.5rem 0.2rem;
  justify-content: space-between;
  background: linear-gradient(
    to right,
    $b2 10%,
    $hcolor 20%,
    $hcolor 80%,
    $b2 90%
  );
  @include highlightTop();
}
