@import './global/vars.scss';
@import './global/mixins.scss';
.activeBlock {
  @include flexC();
  gap: 0;
  justify-content: flex-start;
  overflow-y: auto;
  > .activeBlockContent {
    background-color: $b2;
    @include flexC();
    padding: 1vw;
    border-radius: 1vw;
    overflow-y: auto;
    @include dropShadow();
    justify-content: flex-start;
    > div:not(:nth-of-type(1)) {
      @media (orientation: portrait) {
        max-height: 64%;
        overflow-y: hidden;
      }
      @media (orientation: landscape) {
        max-height: 50%;
        overflow-y: hidden;
      }
    }
  }
}
.blockHeader {
  @include flexR();
  justify-content: space-between;
}
