@import './global/vars.scss';
@import './global/mixins.scss';

@mixin vwLayout() {
  @media (orientation: landscape) {
    @include flexR();
    .currentTaskLeft,
    .currentTaskRight {
      width: 50%;
    }
  }
  @media (orientation: portrait) {
    @include flexC();
    justify-content: flex-start;
    align-items: center;
    .currentTaskLeft {
      width: 100%;
    }
    .currentTaskRight {
      width: 100%;
      flex-grow: 1;
    }
  }
}
.currentTask {
  @include vwLayout();
  .currentTaskLeft {
    @include flexC();
    align-items: center;
    justify-content: center;
    @include pseudotv($b1, $f1);
    > p {
      font-weight: bold;
      font-family: monospace;
      @include vwFont(3.5);
      @media screen and (orientation: portrait) and (max-width: 200px) {
        font-size: 2.5rem;
      }
    }
    .currentTaskToolbar {
      @include flexR();
      > button:enabled {
        @include button;
      }
      > button {
        @include flexC();
        justify-content: center;
        align-items: center;
        border-radius: 1vw;
        padding: 0.5vw 2vw;
        svg {
          width: 3vw;
          height: 3vw;
          min-width: 1.2rem;
          min-height: 1.2rem;
        }
      }
    }
  }
  .currentTaskRight {
    @include flexC();
    @include paperView();
    > h3 {
      @include vwFont(2.1);
      font-weight: bold;
    }
    > p {
      @include vwFont(1.3);
    }
  }
}
