@import './global/vars.scss';
@import './global/mixins.scss';
.currentTask {
  padding: 0.5rem;
  flex-grow: 1;
  @include flexR();
  align-items: stretch;
  > * {
    width: 50%;
  }
}
.currentTaskLeft {
  @include flexC();
  justify-content: center;
  align-items: center;
  position: relative;
  > p {
    font-size: 10vw;
    font-weight: bold;
    font-family: monospace;
  }
}
.currentTaskToolbar {
  position: absolute;
  bottom: 1rem;
  @include flexR();
  gap: 1rem;
  > button {
    padding: 0.4rem 0.5rem;
    border-radius: 0.3rem;
    cursor: pointer;
    border: 1px solid $c2;
    font-size: 1rem;
    font-weight: bold;
    > svg {
      width: 1.5rem;
      height: 1.5rem;
    }
  }
}
.stopButton {
  background-color: lighten($e1, 30%);
  &:hover {
    @include button-animate-on-hover(negative);
  }
}
.playButton {
  background-color: lighten($c2, 30%);
  &:hover {
    @include button-animate-on-hover(positive);
  }
}
.pauseButton {
  background-color: lighten($c1, 30%);
  &:hover {
    @include button-animate-on-hover(neutral);
  }
}
.currentTaskRight {
  @include flexC();
  font-size: 2rem;
  @include paperView();
  > h3 {
    font-size: 2.5rem;
    font-weight: bold;
    padding-bottom: 0.5rem;
    border-bottom: 1px solid black;
  }
}
