@import './global/vars.scss';
@import './global/mixins.scss';
$bgColor: desaturate(lighten($c2, 25%), 40%);
.dragAndDropList {
  user-select: 'none';
  @include flexC();
  gap: 1vw;
  border: 0.1vw inset lighten($b2, 20%);
  box-shadow: 0 0.2vw 0.3vw inset black;
  background-color: lighten($b2, 5%);
  padding: 1vw;
}
.draggableTask {
  @include flexR();
  @include dropShadow();
  cursor: pointer;
  background-color: $c2;
  padding: 1vw;
  justify-content: space-between;
  align-items: center;
  > p {
    min-width: 32px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  background-image: linear-gradient(
      to bottom,
      lighten($c2, 20%) 0%,
      $c2 30%,
      transparent 40%,
      transparent 80%,
      darken($c2, 20%) 100%
    ),
    linear-gradient(to bottom, $c2 60%, transparent 100%),
    linear-gradient(
      to left,
      transparent 0%,
      transparent 20%,
      darken($c2, 20%) 30%,
      darken($c2, 20%) 40%,
      transparent 50%,
      transparent 100%
    );
  background-size: 0.5rem 100%;
  background-repeat: repeat-x;
  background-position-y: bottom;
  &:hover {
    cursor: pointer;
  }
  &.draggingTask {
    padding: 0 !important;
    margin: 0 !important;
  }
  .draggableTaskControls {
    flex-wrap: nowrap;
    input {
      @include inputDark(lighten($c1, 20%));
      @include vwFont(0.9);
      &[data-placeholder-color='c1'] {
        &::placeholder {
          color: transparentize(lighten($c1, 20%), 0.6);
        }
      }
      &[data-placeholder-color='c2'] {
        &::placeholder {
          color: transparentize(lighten($c2, 10%), 0.5);
        }
      }
    }
  }
}
.addTask {
  cursor: pointer;
  @include button;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  background-color: $c2;
  justify-self: center;
  align-self: center;
  margin: 0 auto;
  > svg {
    width: 3vw;
    height: 3vw;
  }
}
