@import './global/vars.scss';
@import './global/mixins.scss';
$bgColor: desaturate(lighten($c2, 40%), 40%);
.dragAndDropList {
  @include flexC();
  justify-content: flex-start;
  gap: 1vw;
  background-color: $bgColor;
  padding: 1vw;
  color: $b1;
  height: 100%;
  overflow-y: auto;
}
.draggableTask {
  user-select: 'none';
  @include flexR();
  cursor: pointer;
  padding: 0.5vw 1vw;
  background-color: $c2;
  justify-content: space-between;
  @include dropShadow();
  background-image: linear-gradient(
    100deg,
    transparent 0%,
    transparent 20%,
    darken($c2, 3%) 25%,
    darken($c2, 3%) 30%,
    transparent 35%,
    transparent 100%
  );
  background-size: 0.8vw 200%;
  &:hover {
    cursor: pointer;
  }
  &.draggingTask {
    position: unset !important;
  }
}
