@import "./global/vars.scss";
@import "./global/mixins.scss";
$bgColor: desaturate(lighten($c2, 25%), 40%);
.dragAndDropList {
  @include flexC();
  justify-content: flex-start;
  gap: 1vw;
  background-color: $bgColor;
  padding: 1vw;
  color: $b1;
  min-height: min-content;
}
.draggableTask {
  user-select: "none";
  @include flexR();
  cursor: pointer;
  padding: 0.5vw 1vw;
  background-color: $c2;
  justify-content: space-between;
  align-items: center;
  @include dropShadow();
  background-image: linear-gradient(
      to bottom,
      lighten($c2, 20%) 0%,
      $c2 30%,
      transparent 40%,
      transparent 80%,
      darken($c2, 20%) 100%
    ),
    linear-gradient(to bottom, $c2 60%, transparent 100%),
    linear-gradient(
      to left,
      transparent 0%,
      transparent 20%,
      darken($c2, 20%) 30%,
      darken($c2, 20%) 40%,
      transparent 50%,
      transparent 100%
    );
  background-size: 0.5rem 100%;
  background-repeat: repeat-x;
  background-position-y: bottom;
  &:hover {
    cursor: pointer;
  }
  &.draggingTask {
    position: unset !important;
  }
  .draggableTaskControls {
    flex-wrap: nowrap;
    input {
      @include inputDark(lighten($c1, 20%));
      @include vwFont(0.9);
      &[data-placeholder-color="c1"] {
        &::placeholder {
          color: transparentize(lighten($c1, 20%), 0.6);
        }
      }
      &[data-placeholder-color="c2"] {
        &::placeholder {
          color: transparentize(lighten($c2, 10%), 0.5);
        }
      }
    }
  }
}
.addTask {
  cursor: pointer;
  @include button;
  background-color: $c2;
  > svg {
    width: 3vw;
    height: 3vw;
  }
}
