@import './global/vars.scss';
@import './global/mixins.scss';
.taskList {
  @include flexC();
  > ul {
    @include flexC();
    @include paperView();
  }
}

.taskListItem {
  @include flexR();
  justify-content: space-between;
  svg {
    opacity: 0;
    width: 2vw;
    height: 2vw;
    min-width: 1rem;
    min-height: 1rem;
  }
  button {
    opacity: 0;
    background-color: transparent;
    border: none;
  }
  > div:nth-of-type(1) {
    @include flexR();
    align-items: center;
    width: 30%;
    overflow: hidden;
  }
  > div:nth-of-type(2) {
    @include flexR();
    align-items: center;
    justify-content: flex-end;
    width: 70%;
  }
  > div {
    > p {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
  border-bottom: 0.25vw solid $paper-line;
}

.taskTitle {
  font-weight: bold;
  padding: 0.2rem;
}
.taskListItemActive {
  svg {
    opacity: 1;
  }
  .taskTitle {
    @include highlight($c2);
  }
  button {
    cursor: pointer;
    opacity: 1;
  }
}
