@import "./global/vars.scss";
@import "./global/mixins.scss";
.toolbar {
  z-index: +1;
  ul {
    @include flexR();
    justify-content: space-between;
    button {
      @include button();
      color: white;
      &.b2 {
        background-color: $b2;
      }
      &.dropdownButton {
        position: relative;
        .dropdownContent {
          @include flexC();
          max-height: 70vh;
          width: 90vw;
          max-width: 20rem;
          position: absolute;
          top: calc(100% + 0.5rem);
          left: 0.5rem;
          background-color: lighten($b2, 20%);
          padding: 5rem;
          cursor: default;
          @include paperView();
          > ul {
            @include flexC();
            > li {
              cursor: pointer;
              &:hover {
                @include highlight($c1);
              }
            }
          }
        }
      }
    }
  }
}
