@import "./global/vars.scss";
@import "./global/mixins.scss";
.toolbar {
  z-index: +1;
  > ul {
    @include flexR();
    justify-content: flex-start;
    flex-wrap: wrap;
    button {
      @include button();
      &.b2 {
        background-color: $b2;
      }
      &.dropdownButton {
        position: relative;
        .dropdownContent {
          z-index: +2;
          cursor: unset;
          text-shadow: none;
          @include flexC();
          max-height: 70vh;
          width: max-content;
          position: absolute;
          top: calc(100% + 0.5rem);
          left: 0.5rem;
          cursor: default;
          @include paperView();
          > ul {
            @include flexC();
            > li:not([data-selected="selected"]) {
              cursor: pointer;
              &:hover {
                @include highlight($c1);
              }
            }
          }
          > h3 {
            @include flexR();
            justify-content: space-between;
            > span > svg {
              width: 1.3vw;
              height: 1.3vw;
              min-width: 1rem;
              min-height: 1rem;
            }
          }
        }
        .confirmDelete {
          background-color: lighten($e1, 10%);
        }
      }
    }
  }
}
